# What Makes Successful Movies? Database

## Attributions

"This product uses the TMDB API but is not endorsed or certified by TMDB."

In [1]:
from IPython.core.display import SVG
SVG(filename='Data/tmdblogo-blue_long_2.svg')

## Import Packages

In [2]:
# Standard Imports
import numpy as np
import pandas as pd

# Additional Imports
import json#, time, os

# SQLalchemy
from sqlalchemy.types import *
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

## Support special characters in MySQL password
from urllib.parse import quote_plus

## Load Data

In [3]:
# Load in the specified files from previous notebooks:
# Title Basics. Title Ratings. TMDB API Results.csv.gz (2). 
basics = pd.read_csv('Data/basics_final.csv.gz')     # Title Basics.
ratings = pd.read_csv('Data/ratings_final.csv.gz')   # Title Ratings.
final_tmdb_data_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')   
final_tmdb_data_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [4]:
# Verify file read correctly
ratings.head(2)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1983
1  tt0000002            5.8       265

In [5]:
# Verify file read correctly
final_tmdb_data_2000.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN

In [6]:
# Verify file read correctly
final_tmdb_data_2001.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.33,1202.0,PG-13

In [7]:
# Verify file read correctly
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"

## Normalize 'Genre'

### Get Unique List of All Genres

In [8]:
# Create column with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History","[Drama, History]"

In [9]:
# Separate list of genres into new rows, one for each genre a movie belonged to
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History",Drama
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History",History

In [10]:
# Save list of unique genres from 'genres_split'
unique_genres = sorted(exploded_genres['genres_split'].unique())
print(type(unique_genres))
unique_genres

<class 'list'>

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

### Create new 'title_genres' table

In [11]:
# use exploded df. Save only 'tconst' and 'genres_split' as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0043139        Drama
1  tt0043139      History

### Create a genre mapper dictionary

In [12]:
# Create mapper dictionary to replace string genres with integers
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [13]:
title_genres.head(2)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy

In [14]:
# Replace string genres in 'title_genres' with new integer IDs
title_genres['genres_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head(2)

      tconst  genres_id
0  tt0035423          5
0  tt0035423          9

### Convert 'genre_map' dictionary into a dataframe

In [15]:
# Manually make dataframe with named columns from .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## Save MySQL tables

Create new database named 'movies'

In [18]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"

## If your password contains a special character (like @, !, #, etc.), you will get an error message
# will need to add an additional step & function import to make your password connection-string-compatible. 
# Import the "quote_plus" function from "urllib.parse" and use this function to make your password variable connection-string-compatible.

# Type password between quotes below, delete value after adding to memory.
password = quote_plus("wlsWkrjsemfwlak!1@mysql")  # delete value...!

db_name = "movies"
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

engine = create_engine(connection_str)

In [19]:
## Check if database exists, if not, create it
if database_exists(connection_str) == False: 
    create_database(connection_str)
    print('New database created.')
else: 
    print('The database already exists.')

The database already exists.

Create datatype schema for 'to_sql'

In [26]:
# Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

# Create schema dictionary using Sqlalchemy datatype objects
df_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()}

In [27]:
print(key_len)
print(title_len)

10
242

In [28]:
basics.head(1)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"

Run df.to_sql with the dtype argument

In [30]:
# Check if tables created
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_movies
0     title_basics

In [31]:
q = '''
SELECT * FROM title_basics;
'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres, genres_split]
Index: []

In [29]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics', engine, dtype = df_schema, if_exists = 'replace', index = False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0043139', 'titleType': 'movie', 'primaryTitle': 'Life of a Beijing Policeman', 'originalTitle': 'Wo zhe yi bei zi', 'isAdult': 0, 'startYear': 2013, 'endYear': None, 'runtimeMinutes': 120, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El tango del viudo y su espejo deformante', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0103340', 'titleType': 'movie', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'originalTitle': 'Zycie za zycie. Maksymilian Kolbe', 'isAdult': 0, 'startYear': 2006, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Biography,Drama', 'genres_split': ['Biography', 'Drama']}  ... displaying 10 of 86886 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Run query to ADD PRIMARY KEY

In [32]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')